@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-accent-100: hsl(47, 100%, 65%);
  --clr-accent-300: hsl(39, 100%, 65%);
  --clr-accent-400: hsl(35, 85%, 61%);
  --clr-neutral-100: hsl(60, 45%, 96%);
  --clr-neutral-200: hsl(60, 0%, 92%);
  --clr-neutral-400: hsl(60, 3%, 52%);
  --clr-neutral-700: hsl(60, 3%, 23%);
  --clr-neutral-900: hsl(60, 2%, 9%);

  --ff-primary: "Be Vietnam Pro", san-seriff;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --size-400: 1rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-900: 5rem;

  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-400);
  --fs-body: var(--fs-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* general styling */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

/* navbar */

.nav-menu-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  font-weight: var(--fw-semi-bold);

  display: flex;
  align-items: center;
  gap: var(--fs-400);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-accent-400);
}

.nav-cart {
  position: relative;
}

.nav-cart-alert {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-accent-400);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: -10%;
}

.nav-cart svg:hover,
.nav-cart svg:focus {
  fill: var(--clr-accent-400);
}

/* when width <= 800 */
@media (max-width: 50em) {
  .nav-menu-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 10;
  }

  .primary-navigation {
    display: none;
    position: absolute;
    inset: 3.5rem 2rem auto;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 2.5rem;
    z-index: 10;
  }

  .overlay:before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 9;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0/0.8));
  }

  .nav-list {
    display: grid;
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .nav-menu-open {
    display: block;
  }
}

/* footer */

.footer-container {
  display: grid;
  grid-auto-columns: 1fr;
  justify-items: center;
  gap: 2rem;
  text-align: center;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  gap: 1.5rem;
}

.footer-link:hover {
  transition: 0.3s;
  color: rgb(var(--accent-color));
}

@media (min-width: 50em) {
  .footer-container {
    display: flex;
    text-align: left;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* homepage hero */

.home-hero .background-img-container {
  background-image: url(/imgs/heroimg.jpg);
  min-height: calc(100vh - 80px - 2rem);
}

/* homepage cta */
.home-cta .background-img-container {
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(/imgs/heroimg2.jpg);
}

.cta-flex {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 2rem;
  min-height: inherit;
}

.cta-text {
  max-width: 37ch;
  margin-left: auto;
}

/* productpage */

.product-page {
  min-height: calc(100vh - 50px);
}

.product-page-search {
  max-width: 500px;
  width: 100%;
  position: relative;
}

.product-page-input {
  padding: 1rem 1.5rem;
  width: 100%;
  font-size: 1rem;
  color: var(--clr-neutral-900);
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0 5px black;
  background-color: var(--clr-neutral-100);
  outline: none;
  padding-right: 4rem;
  position: relative;
}

.product-page-search-icon {
  position: absolute;

  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.tag-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: clamp(0.25rem, 1vw, 2rem);
  width: 100%;
  justify-content: center;
}

.tag {
  padding: 0.75em 1.25em;
  font-size: var(--fs-300);
  color: var(--clr-neutral-900);
  border-radius: 100vw;
  border: 1px solid var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
  outline: none;
  cursor: pointer;
}

.active-tag {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.product-page-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 2rem;
}

/* product display cards */

.product-card-container {
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px gray;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-card-img-container {
  overflow: hidden;
  cursor: pointer;
}

.product-card-img {
  height: auto;

  transition: transform 0.3s;
}

.product-card-img-container:hover .product-card-img {
  transform: scale(1.2);
}

.product-card-title {
  position: relative;
  padding-right: 30px;
}

.product-card-title:hover {
  text-decoration: underline;
}

.product-card-title svg {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* productdisplaypage */

.product-display {
  min-height: calc(100vh - 50px);
}

.product-display-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-button-container {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.product-popup {
  position: absolute;
  left: 110%;
  opacity: 0;
  color: var(--clr-accent-400);
  transition: 0.15s;
}

.product-display-add-btn:active + .product-popup {
  opacity: 100%;
  transform: scale(2);
}

/* cartpage  */

.cart-page {
  min-height: calc(100vh - 50px);
}

.cart-content {
  display: grid;
  gap: 2rem;
}

.cart-items-container {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: clamp(0.5rem, 1vw, 5rem);
}

.cart-item img {
  object-position: center;
  object-fit: cover;
}

.cart-item-info {
  position: relative;
  padding-right: 1.25rem;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  gap: clamp(0rem, 2vw, 2rem);
}

.cart-delete {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 2rem;
  line-height: 1.25rem;

  background-color: var(--clr-neutral-100);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.cart-delete:hover {
  transform: scale(1.25);
}

.cart-quantity {
  background-color: var(--clr-accent-400);
  padding: 0.5rem 0.75rem;
}

.cart-amount {
  display: flex;
}

.cart-amount button {
  cursor: pointer;
  background-color: var(--clr-accent-400);
  border: none;
}

.cart-decrement {
  border-radius: 20px 0 0 20px;
  padding-left: 0.75rem;
}

.cart-increment {
  border-radius: 0 20px 20px 0;
  padding-right: 0.75rem;
}

.cart-checkout-container {
  display: flex;
  flex-direction: column;
}

.cart-checkout-container h3 {
  padding: 1rem 2rem;
}

.cart-summary {
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.cart-fee-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-fee-row:last-of-type {
  margin-bottom: 2rem;
}

.cart-checkout-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--clr-neutral-900);
  box-shadow: 0 1rem 1rem -1rem var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  transition: 0.3s;

  cursor: pointer;
}

.cart-checkout-btn:hover {
  background-color: var(--clr-neutral-700);
}

@media (min-width: 64em) {
  .cart-content {
    grid-template-columns: 2fr 1fr;
    gap: clamp(2rem, 10vw, 5rem);
  }
}

@media (max-width: 30em) {
  .cart-quantity {
    padding: 0.25rem 0.5rem;
  }

  .cart-decrement {
    padding-left: 0.5rem;
  }

  .cart-increment {
    padding-right: 0.5rem;
  }
}

/* carousel */

.carousel {
  margin-top: 2rem;
  overflow: hidden;
  margin-inline: auto;
  position: relative;
  /* box-shadow: 0 4rem 3rem -4rem rgba(0, 0, 0, 0.2),
    0 -4rem 3rem -4rem rgba(0, 0, 0, 0.2); */
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px;
  pointer-events: none;
  z-index: 1;
}

.carousel::before {
  left: 0;
  background: linear-gradient(to right, var(--clr-neutral-100), transparent);
}

.carousel::after {
  right: 0;
  background: linear-gradient(to left, var(--clr-neutral-100), transparent);
}

.carousel-arrows {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
  width: 100%;
  z-index: 10;
  padding: 0.5rem;
}

.carousel-arrows button {
  border: none;
  box-shadow: 0 0 0.25rem var(--clr-neutral-400);
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  cursor: pointer;
  stroke: black;
  stroke-width: 2;
  padding: 0.75rem;
  transition: transform 0.3s;
  pointer-events: auto;
}

.carousel-arrows button:hover {
  transform: scale(1.2);
}

.carousel-container {
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 2rem;
  margin: 2rem;
}

.carousel-item {
  flex: 0 0 calc(100% - 2rem);
  /* border: 1px solid gray; */
  border: 1px solid var(--clr-neutral-400);
  border-radius: 1rem;
  z-index: 5;
}

.carousel-dots {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;

  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateX(-50%);
}

.carousel-dots button {
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 100%;
}

.active-dot {
  padding: 0.5rem;
}

.inactive-dot {
  opacity: 70%;
}

.carousel-card-container img {
  min-height: 100px;
}

/* carouselcard */

.carousel-card-container {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-auto-flow: rows;
  padding: 2rem;
  width: 100%;
  gap: 1rem;
}

.carousel-img-container {
  height: clamp(250px, 10vh, 400px);
}

.carousel-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-card-description {
  margin-block: auto;
  display: flex;
  flex-direction: column;
}

.carousel-card-description h2:hover {
  text-decoration: underline;
}

.carousel-text-description {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  letter-spacing: 0.2px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
}

@media (min-width: 64em) {
  .carousel-card-container {
    grid-template-columns: 1fr 2fr;
  }

  .carousel::before,
  .carousel::after {
    width: 100px;
  }

  .carousel-container {
    overflow: visible;
  }
}

/************************************************************************/ /* utility classes */
.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-accent-300 {
  color: var(--clr-accent-300);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-nav {
  font-size: var(--fs-400);
}
.fs-body {
  font-size: var(--fs-400);
}

.container {
  --max-width: 1280px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.padding-bottom-400 {
  padding-bottom: 10rem;
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 100vmax;
  padding: 0.75em 1.25em;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1.25rem 1rem -1rem var(--clr-accent-400);
  transition: 0.3s;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* when width > 800px */
@media (min-width: 50em) {
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .one-third-columns {
    grid-auto-columns: 1fr 2fr;
  }
}

.background-img-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  margin: 0 2rem;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-top {
  margin-top: 1rem;
}

.center-grid-items {
  justify-items: center;
  align-items: center;
}

@media (max-width: 30em) {
  .fs-900 {
    font-size: var(--fs-800);
  }
  .fs-800,
  .fs-primary-heading {
    font-size: var(--fs-700);
  }
  .fs-700,
  .fs-secondary-heading {
    font-size: var(--fs-600);
  }
  .fs-600 {
    font-size: var(--fs-500);
  }
  .fs-500 {
    font-size: var(--fs-400);
  }
  .fs-400,
  .fs-nav {
    font-size: var(--fs-300);
  }
}
