@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-accent-100: hsl(47, 100%, 65%);
  --clr-accent-300: hsl(39, 100%, 65%);
  --clr-accent-400: hsl(35, 85%, 61%);
  --clr-neutral-100: hsl(60, 45%, 96%);
  --clr-neutral-900: hsl(60, 2%, 9%);

  --ff-primary: "Be Vietnam Pro", san-seriff;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --size-400: 1rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-900: 5rem;

  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-400);
  --fs-body: var(--fs-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* general styling */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

/* navbar */

.nav-menu-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  font-weight: var(--fw-semi-bold);

  display: flex;
  align-items: center;
  gap: var(--fs-400);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-accent-400);
}

.nav-cart {
  position: relative;
}

.nav-cart-alert {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-accent-400);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: -10%;
}

/* when width <= 800 */
@media (max-width: 50em) {
  .nav-menu-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 10;
  }

  .primary-navigation {
    display: none;
    position: absolute;
    inset: 3.5rem 2rem auto;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 2.5rem;
    z-index: 10;
  }

  .overlay:before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 9;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0/0.8));
  }

  .nav-list {
    display: grid;
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .nav-menu-open {
    display: block;
  }
}

/* footer */

.footer-container {
  display: grid;
  grid-auto-columns: 1fr;
  justify-items: center;
  gap: 2rem;
  text-align: center;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  gap: 1.5rem;
}

.footer-link:hover {
  transition: 0.3s;
  color: rgb(var(--accent-color));
}

@media (min-width: 50em) {
  .footer-container {
    display: flex;
    text-align: left;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* homepage hero */

.home-hero .background-img-container {
  background-image: url(/public/imgs/heroimg.jpg);
  min-height: calc(100vh - 80px - 2rem);
}

/* product display cards */

.homeProductsText {
  padding: 4rem;
  font-size: 2rem;
}

.homeProductsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.homeCardContainer {
  background: rgb(var(--background-color));
  padding: 2.2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px gray;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.homeCardImgContainer {
  overflow: hidden;
  cursor: pointer;
}

.homeCardImg {
  height: auto;

  transition: transform 0.3s;
}

.homeCardImgContainer:hover .homeCardImg {
  transform: scale(1.2);
}

.homeCardTitle {
  display: flex;
  align-items: center;
  position: relative;
}

.homeCardName {
  cursor: pointer;
}

.homeCardTitle svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;

  transition: 0.3s transform;
}

.homeCardName:hover + svg {
  transform: rotate(-90deg);
}

/* homepage cta */
.home-cta .background-img-container {
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(/public/imgs/heroimg2.jpg);
}

.cta-flex {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 2rem;
  min-height: inherit;
}

.cta-text {
  max-width: 37ch;
  margin-left: auto;
}

/* productpage */

.productPageContainer {
  padding: 2rem;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productPageSearch {
  position: relative;
}

.productPageInput {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: rgb(var(--primary-color));
  border-radius: 2rem;
  border: none;
  box-shadow: 0 0 5px black;
  background-color: rgb(var(--background-color));
  outline: none;
  max-width: 600px;
  width: min(600px, 100%);
  padding-right: 4rem;
}

.productPageSearchIcon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.productPageContent {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.productPageTagContainer {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.productPageTag {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--clr-neutral-900);
  border-radius: 2rem;
  border: 1px solid var(--clr-neutral-900);
  /* box-shadow: 0 0 5px black; */
  background-color: var(--clr-neutral-100);
  outline: none;
  cursor: pointer;
}

.activeTag {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.productPageGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2rem;
}

/* productdisplaypage */

.product-display {
  min-height: calc(100vh - 80px);
}

.product-display-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-button-container {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.product-popup {
  position: absolute;
  left: 110%;
  opacity: 0;
  color: var(--clr-accent-400);
  transition: 0.15s;
}

.product-display-add-btn:active + .product-popup {
  opacity: 100%;
  transform: scale(2);
}

/* cartpage cart */

.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cartTitle {
  font-size: 2.5rem;
}

/* cartpage */

.cartPageContainer {
  min-height: calc(100vh - 80px);
}

.cartPageTextContainer {
  padding: 2rem;
}

.cartPageTitle {
  font-size: 2rem;
}

.cartPageContentContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

.cartPageCheckoutContainer {
  display: flex;
  flex-direction: column;
}

.cartPageCheckoutContainer h3 {
  padding: 1rem 2rem;
  font-weight: 500;
}

.cartPageSummary {
  background-color: rgb(243, 237, 237);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.cartPageSection {
  display: flex;
  justify-content: space-between;
}

.cartPageSection:last-of-type {
  margin-bottom: 2rem;
}

.cartPageCheckoutButton {
  padding: 0.75rem 1.5rem;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));

  cursor: pointer;
}

.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2rem; */
  /* border-radius: 1.5rem; */
}

/******************************************************************/

.cartCardContainer {
  background: rgb(var(--background-color));

  display: flex;
  gap: 2rem;
  height: 300px;
}

.cartCardImg {
  width: auto;
  height: 100%;
}

.cartCardInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.cartCardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartCardRemove {
  border: none;
  background-color: rgb(var(--background-color));
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.cartCardRemove:hover {
  transform: scale(1.25);
}

.cartCardPrice {
  font-weight: 300;
}

.cartCardAmount {
  display: flex;
}

.cartCardQuantity {
  background: rgb(var(--accent-color));
  padding: 0.5rem 0.75rem;
}

.cartCardAmount button {
  cursor: pointer;
  background: rgb(var(--accent-color));
  border: none;
}

.cartCardSubtract {
  border-radius: 20px 0 0 20px;
  padding-left: 0.75rem;
}

.cartCardAdd {
  border-radius: 0 20px 20px 0;
  padding-right: 0.75rem;
}

/************************************************************************/

/* utility classes */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-nav {
  font-size: var(--fs-400);
}
.fs-body {
  font-size: var(--fs-400);
}

.container {
  --max-width: 1280px;
  --padding: 2rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.padding-bottom-400 {
  padding-bottom: 10rem;
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 100vmax;
  padding: 0.75em 1.25em;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1.25rem 1rem -1rem var(--clr-accent-400);
  transition: 0.3s;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* when width > 800px */
@media (min-width: 50em) {
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .one-third-columns {
    grid-auto-columns: 1fr 2fr;
  }
}

.background-img-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  margin: 0 2rem;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-top {
  margin-top: 1rem;
}

.center-grid-items {
  justify-items: center;
  align-items: center;
}
